<% title 'Edit Profile' %>
<% noindex %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="listing-wrapper">
        <h1>Edit Profile</h1>       
        <%= render 'form' %>
      </div>
    </div>
    <div class="col-md-3 right-sidebar">
     
    </div>
  </div>
</div>