<div class="footer">
  <div class="container">
    <div class="pull-left muted footer-link-grey">
      <p>© 2014 JIMATKAWAN ·
      <%= link_to "About", root_path %> ·
      <%= link_to "Privacy", root_path %> ·
      <%= link_to "Disclaimer", root_path %> ·
      <%= link_to "Contact", root_path %></p>
    </div>

    <div class="pull-right">
      <a href="http://facebook.com" target="_blank">Facebook</a> ·
      <a href="http://twitter.com" target="_blank">Twitter</a> ·
      <a href="http://instagram.com" target="_blank">Google+</a>
    </div>
  </div>  
</div>